.logosFooter {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    img {
        width: 50px;
        margin-left: 10px;
    }
}
.footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}