.logosFooter {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    img {
        width: 50px;
        margin-left: 10px;
    }

    animation: infoPost 2s ease-in 0s 1 normal forwards;
}
.footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    animation: infoPost 2s ease-in 0s 1 normal forwards;
}

@keyframes infoPost {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}