.setLenguage {
    .imagen {
        
        animation: imagen 3s ease 0s 1 normal forwards;

    img {
			margin-top: 30px;
            width: 200px;
        }
    }

    .botones {
        animation: botones 2s ease-in 0s 1 normal forwards;
    }

}

@keyframes botones {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes imagen {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}